@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-page {
  padding: 20px;
  min-height: 85vh;
  background: #e6e6e6;
  font-family: "Poppins", sans-serif;
}

.about-page h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: #333;
}

.about-content {
  display: flex;
  flex-direction: column; /* this is for small screen */
  gap: 20px;
  background: #edecec;
  padding: 20px;
  border-radius: 10px;
}

.image-section {
  text-align: center; /*  align it */
}

.about-image {
  max-width: 100%; /* take care of overflow */
  height: auto;
  border-radius: 5px;
}

.text-section {
  text-align: justify; /* text here */
}

.text-section h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.text-section p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    align-items: center;
  }

  .text-section {
    padding-left: 40px;
  }

  .text-section h3 {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .text-section p {
    font-size: 18px;
  }
}
