/* AppointmentPage.css */

.appointment-page {
  font-family: "Poppins", sans-serif;
}

.appointment-form-section {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.appointment-form-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointment-form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 12px;
}

.appointment-button {
  width: 100%;
  padding: 10px;
  background-color: #aa9e86;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointment-button:hover {
  background-color: #38352d;
}

.clinic-info-section {
  display: flex;
  flex-direction: row;
  padding: 50px;
  background-color: #f8f9fa;
}

.clinic-image {
  max-width: 50%;
  border-radius: 10px;
}

.clinic-info {
  padding-left: 20px;
}

.clinic-info h2 {
  margin-bottom: 20px;
}

.clinic-info p {
  margin-bottom: 10px;
}

/* Responsive Design */

@media (max-width: 768px) {
  .clinic-info-section {
    flex-direction: column;
    padding: 20px;
  }

  .clinic-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .clinic-info {
    padding-left: 0;
  }

  .appointment-form-container {
    padding: 10px;
  }
}
